<!--<div class="form-container mat-elevation--z5">
    <h2>Login</h2>
    <form [formGroup] = "loginform" (ngSubmit)="submit()">
        <mat-form-field>
            <input matInput placeholder="enter email address" formControlName="email"/>
            <mat-error *ngIf="email?.errors?.['required']">Email is required</mat-error>
            <mat-error *ngIf="email?.errors?.['email']">Please Enter Correct Format</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="enter password" formControlName="password"/>
            <mat-error *ngIf="password?.errors?.['required']">Password is required</mat-error>
        </mat-form-field>
        <div class="center margin-top">
            <button mat-raised-button color="primary" type="submit">Login</button>
        </div>
        
        <span class=" center margin-top">New User -<a class="sign-up-link" routerLink="/signup">SignUp!</a></span>
    </form>
</div>-->


<section class="vh-100">
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-6 col-xl-5">
          <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
            class="img-fluid" alt="Sample image">
        </div>
        
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
          <form [formGroup] = "loginform" (ngSubmit)="submit()">
            <!-- Email input -->
            <div class="d-flex justify-content-between align-items-center">
                <a href="admin" class="text-body" style="font-size: small; margin-left: 350px;">Admin?</a>
             </div>
             <br>
            <div class="form-outline mb-4">
              <input type="email" id="form3Example3" class="form-control form-control-lg"
                placeholder="Enter a valid email address" formControlName="email">
              <label class="form-label" for="form3Example3">Email address</label>
            </div>
  
            <!-- Password input -->
            <div class="form-outline mb-3">
              <input type="password" id="form3Example4" class="form-control form-control-lg"
                placeholder="Enter password" formControlName="password">
              <label class="form-label" for="form3Example4">Password</label>
            </div>
  
            <div class="d-flex justify-content-between align-items-center">
              <!-- Checkbox -->
              
              <a href="#!" class="text-body">Forgot password?</a>
              
            </div>
  
            <div class="text-center text-lg-start mt-4 pt-2">
              <button type="submit" class="btn btn-primary btn-lg"
                style="padding-left: 2.5rem; padding-right: 2.5rem;">Login</button>
              <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <a href="#!"
                  class="link-danger" routerLink="/signup" >Register</a></p>
            </div>
            <br>
            
  
          </form>
        </div>
      </div>
    </div>
    <div
      class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-primary">
      <!-- Copyright -->
      <div class="text-white mb-3 mb-md-0">
        Copyright © 2020. All rights reserved.
      </div>
      <!-- Copyright -->
  
      <!-- Right -->
      <div>
        <a href="#!" class="text-white me-4">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="#!" class="text-white me-4">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="#!" class="text-white me-4">
          <i class="fab fa-google"></i>
        </a>
        <a href="#!" class="text-white">
          <i class="fab fa-linkedin-in"></i>
        </a>
      </div>
      <!-- Right -->
    </div>
  </section>
