<!--<div class="form-container mat-elevation-z5">
    <h3>Register</h3>
    <form [formGroup]="signUpForm">
      <mat-form-field>
        <input matInput placeholder="Name" formControlName="name" />
        <mat-error *ngIf="name?.errors?.['required']">
          Name is required
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Email address" formControlName="email" />
        <mat-error *ngIf="email?.errors?.['required']">
          Email address is required
        </mat-error>
        <mat-error *ngIf="email?.errors?.['email']">
          Please enter a valid email address
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          type="password"
          placeholder="Password"
          formControlName="password"
        />
        <mat-error *ngIf="password?.errors?.['required']">
          Password is required
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          type="password"
          placeholder="Confirm Password"
          formControlName="confirmPassword"
        />
        <mat-error *ngIf="confirmPassword?.errors?.['required']">
          Confirm Password is required
        </mat-error>
      </mat-form-field>
      <mat-error *ngIf="signUpForm.errors?.['passwordsDontMatch']">
          Passwords should match
      </mat-error>

      <mat-form-field>
        <input matInput placeholder="Mob" formControlName="mobile_number" />
        <mat-error *ngIf="mobilenumber?.errors?.['required']">
          Enter 10 digits
        </mat-error>
      </mat-form-field>

        <div>
          <label for="datepicker" class="form-label">Birthdate</label>
          <input type="date" class="form-control" id="datepicker" formControlName="birthdate">
        </div>
      
      <div class="center margin-top">
        <button type="submit" mat-raised-button color="primary" (click)="submit()" (click)="storedata()">Sign Up!</button>
      </div>
    </form>
  </div>-->
  
  <section class="vh-100" style="background-color: #eee;">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-12 col-xl-11">
          <div class="card text-black" style="border-radius: 25px;">
            <div class="card-body p-md-5">
              <div class="row justify-content-center">
                <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
  
                  <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign up</p>
  
                  <form class="mx-1 mx-md-4" [formGroup]="signUpForm">
  
                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <input type="text" placeholder="Enter Name"  class="form-control" formControlName="name"/>
                         <span class="Validator"
                            *ngIf="name.touched && name.invalid && (name.errors?.['required'])">
                            *Name is required
                       </span>
                      </div>
                    </div>
  
                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <input type="email"  class="form-control" formControlName="email" placeholder="Enter email"/>
                        <span class="Validator"
                            *ngIf="email.touched && email.invalid && (email.errors?.['required'])">
                            *Email is required
                       </span>
                        <span class="Validator"
                        *ngIf="email.touched && email.invalid && (email.errors?.['pattern'])">
                            *Please enter a valid email
                        </span>
                      </div>
                    </div>
  
                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <input type="password"  class="form-control" placeholder="Enter Password" formControlName="password" />
                        <span class="Validator"
                            *ngIf="password.touched && password.invalid && (password.errors?.['required'])">
                            *Password must contain 8 character
                       </span>
                      </div>
                    </div>
                    
  
                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <input type="password"  class="form-control" placeholder="Repeat your password"  formControlName="confirmPassword" />
                       
                        <mat-error *ngIf="confirmPassword.touched && confirmPassword.invalid && confirmPassword?.errors?.['required']">
                          Confirm Password is required
                        </mat-error>
                      <mat-error *ngIf="signUpForm.errors?.['passwordsDontMatch']">
                          Passwords should match
                      </mat-error>
                      </div>
                    </div>

                    

                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <input type="mobilenumber"  class="form-control"  placeholder="Enter Mob.no" formControlName="mobile_number" />
                        <mat-error *ngIf="mobilenumber?.errors?.['required']">
                          Enter 10 digits
                        </mat-error>
                      </div>
                    </div>
  
                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                      <input type="date" class="form-control" id="datepicker" formControlName="birthdate">
                     
                    </div>
                    </div>

                    <br>
  
                    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                      <button type="submit" class="btn btn-primary btn-lg" (click)="signupsubmit()">Register</button>
                    </div>
                    
                  </form>
  
                </div>
                <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
  
                  <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
                    class="img-fluid" alt="Sample image">
  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <router-outlet></router-outlet>
  </section>