

.form-container{
    display: block;
    max-width: 300px;
    margin: auto;
    background-color: rgb(204, 215, 242);
    padding: 48px;
    border-radius: 16px;
}

.form-container mat-form-field{
    width: 100%;
}

.center{
display: flex;
justify-content: center;
}

.margin-top{
margin-top: 16px;
}

.text-center{
    text-align: center;
}

.sign-up-link{
    font-size: 15px;
    margin-left: 8px;
}



