<br>

<div class="container">
  <a routerLink="/hotels"><button mat-fab color="primary" aria-label="Example icon button with a delete icon">
      <mat-icon>arrow_back</mat-icon>
    </button></a><br><br>
  <div class="row">

    <div class="col-md-6 " *ngFor="let rm of finalRooms">
      <mat-card class="example-card shadow ">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title style="margin-left:-69px">{{rm.roomName}}</mat-card-title>

        </mat-card-header>
        <img mat-card-image [src]="rm.image" style="border-radius: 10px;height: 375px" [matTooltip]="tooltip">
        <mat-card-content>

        </mat-card-content>
        <mat-card-actions>

          <button mat-raised-button color="accent" (click)="openDialog(rm)">
            View more
          </button>

          &nbsp; &nbsp; &nbsp; &nbsp; <h1>Rs.<span style="color: coral;">{{rm.price}}</span></h1>
          <a routerLink="/booking/{{rm.id}}">
          <button mat-raised-button style="background-color: #1ab64f;margin-left: 119px;"
            [disabled]="rm.status==1">{{rm.status==0?'Book Now':'Booked'}}</button></a>
        </mat-card-actions>
      </mat-card>
      <br>
      <br>
      <br>
    </div>

  </div>
</div>